
<h1>tests</h1>
<%- partial('../messages') %>
<div style="float: left; width: 60%;">
	<table class="tabular">
		<tr>
			<th>Name</th>
		</tr>
		<% tests.forEach(function(test){ %>
		<tr>
			<td><a href="/test/<%= test.id %>"><%= test.name %></a></td>
		</tr>
		<% }) %>
		<tfoot>
			<tr>
				<td colspan='2'><%- pagerHtml %></td>
			</tr>
		</tfoot>
	</table>
</div>
<div style="float: left; margin-left: 5%; width: 35%;">
	<form method="post" action="/tests">
		<input type="hidden" name="_method" value="post" />
		<p>
			Name: <input type="text" name="test[name]" />
		</p>
		<p>
			<button class="button-submit" type="submit" value="Create">Create</button>
		</p>
	</form>
</div>
