<h1>friend.edit</h1>

<p><%- JSON.stringify(content.friend) %></p>

<form action="/friend/<%= content.friend.id %>" method="post">
	
	<input type="hidden" name="_method" value="put" />
	<select name="status">
		<option value="invite">invite</option>
		<option value="add">add</option>
		<option value="reject">reject</option>
	</select>

	<button class="button-submit" type="submit" value="Update">update</button>
  	<a class="button-cancel" href="/friend/<%= content.friend.id %>">Cancel</a>
	
</form>

<hr>

<form action="/friend/<%= content.friend.id %>" method="delete">
	<label><%= content.friend.name %></label>
	<button type="submit">Delete friend</button>
</form>

