<%- JSON.stringify(content.grouped) %>

<script type="text/javascript">
	AppJson = {
		user: <%- JSON.stringify(user) %>,
		friends: <%- JSON.stringify(content.friends) %>,
		grouped: <%- JSON.stringify(content.grouped) %>
	};
</script>

<section id="friend" class="page">

	<% for(var key in content.grouped) {%>
	<section class="box">
		<header>
			<h1>Status = <%= key %></h1>
		</header>
		<ul>
		<% for(var i=0; i < content.grouped[key].length; i++) {%>
			<li>
				<img src="http://graph.facebook.com/<%= content.grouped[key][i].fb_uid %>/picture" />
				<%= content.grouped[key][i].displayName %> : <%= content.grouped[key][i].id %> : <%= content.grouped[key][i].status %>
				<em><%- JSON.stringify(content.grouped[key][i]) %></em>
				<br />
				<% if(key === 'invited'){ %>
					<a class="accept" href="/friend/<%= content.grouped[key][i].id %>/accept">Accept invite</a>
					<a class="reject" href="/friend/<%= content.grouped[key][i].id %>/reject">Reject invite</a>
				<% } %>

				<% if(key === 'none'){ %>
					<a class="invite" href="/friend/<%= content.grouped[key][i].id %>/invite">invite friend</a>
				<% } %>
			</li>
		<% } %>
		</ul>
	</section>
	<% } %>

	<!--h2>Users not yet stuck in</h2>
	<a href="">Invite some friends</a>


	<section id="friends" class="box">
		<h1>Invites</h1>
		<ol></ol>
	</section>

	<section id="invites" class="box">
		<h1>Invites</h1>
		<ol></ol>
	</section>

	<section id="people you may know" class="box">
		<h1>Invites</h1>
		<ol></ol>
	</section>

	<section id="blocked" class="box">
		<h1>Invites</h1>
		<ol></ol>
	</section-->

</section>
