<script type="text/javascript">
	AppJson = {
		user: <%- JSON.stringify(user) %>
	};
</script>

<section id="home" class="page">
	<section id="status" class="box">
		<h1><%= user.displayName %></h1>
		<img src="<%= user.photo %>" />
		<p><%- JSON.stringify(user.status[0].title) %> // status: you fancy a pint</p>
		<a href="#">update status</a>
		
		<!-- status form -->
		<%- partial('partials/status.form.html') %>
	</section>
	
	<section id="friends" class="box">
		<header>
			<h1>Friends: </h1>
			<p class="summary">You have {} friends who are thirsty!</p>
			<a class="button iconAdd" href="/friend">Add more</a>
		</header>
		<ol></ol>
	</section>
	
	<section id="locations" class="box">
		<header>
			<h1>Locations</h1>
			<a class="button iconAdd" href="/location">Add new</a>
		</header>
		<ol></ol>
	</section>
</section>
